body{height: 2000px;}

.text1{text-align: center;}
.text1{margin-top: -10cm; color: aliceblue;}

.text1{font-family: 'Noto Naskh Arabic', serif;}

.text1{font-size: 2cm;}

.text1{text-shadow: 3px 3px 5px red;}








@media screen and (max-device-width: 480px) and (orientation: portrait){.text1{font-size: 30px; margin-bottom: 10cm; text-shadow: 2px 2px #000000;}


.text1{text-shadow:3px 3px 5px red; }
.counter{margin-top: -7cm;}
.text1{
  margin-top: -5cm;
    
   
    position: relative;
    animation-name: text1;
    animation-duration: 4s;
    animation-direction: reverse;  
  }
  
  @keyframes text1 {
    0%   { left:0px; top:0px;}
    25%  { left:0px; top:40px;}
    50%  { left:0px; top:40px;}
    75%  { left:0px; top:0px;}
    100% { left:0px; top:0px;}
  }

  .back{margin-top: 1.5cm;}






}

@media screen and (min-width: 1024px) {

    .counter{margin-top: 20cm;}
    
    .carousel{margin-top:15cm;}

    .text1{
      margin-bottom: -6cm;
        
       
        position: relative;
        animation-name: text1;
        animation-duration: 4s;
        animation-direction: reverse;  
      }
      
      @keyframes text1 {
        0%   { left:0px; top:0px;}
        25%  { left:0px; top:40px;}
        50%  { left:0px; top:40px;}
        75%  { left:0px; top:0px;}
        100% { left:0px; top:0px;}
      }

.text{margin-top: -10cm;}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

a {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  
  padding: 30px;
}

/* Added for aesthetics */ body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;}


  }




  .text2{text-align: center;
    text-shadow: 2px 2px 5px red;

  
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    
  
    
    
    }

    .text2 {  
      /* This section calls the slideInFromLeft animation we defined above */
      animation: 2s ease-out 0s 1 slideInFromLeft;
     
    }
    
    /* Added for aesthetics */ body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;}
    
    